* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    padding: 20px;
    list-style-type: none;
}

ul li {}

.todo-app {}